services:
  - type: web
    name: dice-of-isight-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: BOT_TOKEN
        sync: false
      - key: OPENAI_API_KEY
        sync: false
    autoDeploy: true
